<!-- GOOGLE Rich Search Results -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name" : "St. Louis Chapter - Military Cyber Professionals Association",
    "url": "http://mcpa-stl.org",
    "logo": "http://mcpa-stl.org/img/mcpa-black.png"
    "sameAs" : [
      "http://plus.google.com/113503993712827446526/about",
      "http://www.linkedin.com/company/military-cyber-professionals-association",
      "http://www.facebook.com/milcyber/",
      "http://www.twitter.com/MCPA_StLouis"
    ]
  }
</script>
